/* Colors and fonts */

body {
	background-color: #F6F6F6;
	color: #575F7D;
	font-family: 'Slabo 27px', serif;
	font-size: 18px;
	font-weight: lighter;
}

h1,h2 {
font-family: 'Roboto', sans-serif;
}

h1 {
	color: #005792;
	letter-spacing: 1.5px;
    font-weight: 600;
    font-size: 34px;
}

h2 {
	color: #FFC300;
    font-weight: 300;
    font-size: 26px;
    }

a {
	text-decoration: none;
	color: #5533FF;
	font-size: 16px;
	font-weight: bold;
	font-family: 'Roboto', sans-serif;
}

a:hover {
	color: black;
}

/* Custom design with class */

.container {
	width: 700px;
	margin: 40px auto;
}

@media (max-width: 760px) {
	.container {
		width: 600px;
	}
}

@media (max-width: 500px) {
	.container {
		width: 400px;
	}
}

.card-white {
	background-color: white;
	padding: 40px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1)
	border-radius: 4px;
	margin: 20px 0px;
	text-align: center;
}

.img-circle {
	border-radius: 50%;
}

.btn-blue {
	background-color: #005792;
	color: white;
	padding: 15px 20px;
	border-radius: 4px;
}

.btn-blue:hover {
	background-color: black;
	color: white;
}

.list-inline {
	list-style: none;
	padding-left: 0px;
}

.list-inline li {
	display: inline;
	padding: 10px;
}

.list-inline i {
	font-size: 50px;
	color: rgb(230,230,230)
}

.list-inline i:hover {
	color: #3B5998;
}

#introduction p {
	margin-bottom: 40px;
}